@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
}
@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-text {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    top: -100px; 
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px; 
    opacity: 0;
  }
}

.navbar {
  animation: slideUp 1s ease-in-out;
}
.sticky {
  animation: slideDown 1s ease-in-out;
}
.fadeUpIn {
  animation: fadeUpIn 1s ease-out;
}

/* ROOT COLORS */
:root {
  --p-black: #423E3EF2;
  --s-black: #423E3E; 
  --ash: #8D8D8D;
  --gray: #D9D9D9;
  --a-background: #F7F7FD;
  --white: #fff;
  --p-gold: #E1841A;
  --s-gold: #E1841A59;
  --p-green: #154604;
}

::selection {
  background-color: var(--p-gold);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--ash);
}

/* MOBILE NAVBAR */
.mobile-navbar {
  display: none;
}
/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  animation: slideUp 0.5s ease-in-out; 
  border-bottom: solid 1px #cccccc57;
  z-index: 1000;
}
.navbar .nav-logo img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.navbar.sticky {
  color: var(--white);
  animation: slideDown 0.5s ease-in-out; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navbar-links li a {
  cursor: pointer;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--s-black);
  position: relative;
}
/* Active Link Styling */
.navbar-links a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.navbar-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px; 
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.navbar-links a.active::after {
  width: 100%; 
  background-color: var(--p-gold); 
}
.navbar-links a:hover::after {
  width: 100%;
  background-color: var(--s-gold); 
}
.header-buttons {
  display: flex;
  gap: 20px;
}
.header-buttons button {
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-family: 'Instrument Sans', sans-serif;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}
.header-buttons .login {
  background-color: var(--white);
  border: solid 1px var(--p-gold);
  color: var(--p-gold);
}
.header-buttons .login:hover {
  background-color: var(--p-gold);
  color: var(--white);
}
.header-buttons .sign-up {
  background-color: var(--p-gold);
  border: solid 1px var(--p-gold);
  color: var(--white);
}
.header-buttons .sign-up:hover {
  background-color: var(--white);
  color: var(--p-gold);
}

/* FOOTER  */
footer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .top-footer {
  padding: 50px 100px 30px 100px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}
footer .top-footer h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--p-black);
  margin-bottom: 10px;
}
footer .top-footer li, 
footer .top-footer a, 
footer .top-footer p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2%;
  text-align: justify;
  list-style-type: none;
  color: var(--s-black);
  margin-bottom: 10px;
}
footer .top-footer .t-f-one {
  grid-column: span 2;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .top-footer .t-f-one h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2%;
  text-align: justify;
  color: var(--s-black);
}
footer .features-links li:hover {
  color: var(--p-gold);
  cursor: pointer;
  font-weight: 500;
}
footer .follow-accept ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
footer .bottom-footer {
  width: 100%;
  padding: 50px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--p-green);
}
footer .bottom-footer p {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 17.14px;
  font-family: 'Instrument Sans', sans-serif;
}
footer .bottom-footer ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
footer .bottom-footer li {
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  line-height: 17.14px;
  font-family: 'Instrument Sans', sans-serif;
}

/* LOGIN PAGE */
.login-page {
  z-index: 2000;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  left: 0;
  top: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.login-page .login-form-container {
  width: 30%;
  max-width: 400px;
  padding: 20px;
  margin-left: 150px;
  background: white;
}
.login-page .login-form-container h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36.6px;
  letter-spacing: 0%;
  color: var(--p-black);
  margin-bottom: 30px;
}
.login-page .login-form-container h4 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 36.6px;
  letter-spacing: 0%;
  color: var(--p-black);
  margin-bottom: 10px;
}
.login-page .login-form-container p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: var(--s-black);
}
.login-page .login-form .input-group {
  margin-top: 20px;
}
.login-page .input-group label {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.3px;
  letter-spacing: 0%;  
  color: var(--s-black);
}
.login-page .input-group input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--gray);
  color: var(--p-black);
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  line-height: 26.61px;
  letter-spacing: 0%;
}
.login-page .input-group input:focus {
  border-bottom: solid 3px var(--p-gold);
  outline: none; 
}
.login-page .password-group {
  position: relative;
}
.login-page .password-toggle {
  position: absolute;
  top: 70%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  color: var(--ash);
}
.login-page .login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.login-page .remember-me input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.3px;
  letter-spacing: 0%;  
  color: var(--s-black);
}
.login-page .forgot-password {
  text-decoration: none;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.3px;
  letter-spacing: 0%;  
  color: var(--s-black);
}
.login-page .login-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--p-gold);
  color: var(--white);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 31.3px;
  letter-spacing: 0%;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s color ease-in-out;
}
.login-page .login-btn:hover {
  background-color: var(--s-gold);
}

/* LOGIN POSTER */
.login-poster {
  width: 60%;
  /* max-width: 600px; */
  position: relative;
  height: 100%;
  justify-self: end;
  /* overflow: hidden; */
}
.login-poster .login-poster-banner {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100dvh;
  background-color: #FFEFD1;
}
.login-poster img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;   
  object-fit: cover;
  border-radius: 10px;
  z-index: 5;
}


/* BREADCRUMB SECTION */
.breadcrumb-section {
  width: 100%;
  height: 30dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.breadcrumb-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.breadcrumb-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.breadcrumb-section h6 {
  color: var(--white);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.28px;
  letter-spacing: 0%;
  z-index: 2;
}

#root {
  padding-top: 85px;
}

/* HOME PAGE */
.hero-section {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 50px;
  background-image: url('../images/hero-backdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-section .hero-caption {
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-section .hero-caption h1 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.1px;
  letter-spacing: 0%;
  color: var(--p-green);
  margin-bottom: 20px;
}
.hero-section .hero-caption p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.4px;
  letter-spacing: 0%;
  color: var(--s-black);
}
.hero-section .hero-stats {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* STATS COUNT */
.stats-count {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.stats-count h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37.82px;
  letter-spacing: 0%;
  color: var(--p-green);
}
.stats-count p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.52px;
  letter-spacing: 0%;
  color: var(--s-black);
}
.hero-section .hero-poster-one {
  position: absolute;
  bottom: 180px;
  right: 50px;
  width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.hero-section .hero-poster-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -80%);
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* HERO SECTION SEARCH BAR */
.hero-search-box {
  margin-top: 30px;
  max-width: 800px;
  padding: 20px;
  background-color: transparent;
}
.hero-search-box form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  background-color: var(--white);
  padding: 30px;
  border-radius: 5px;
}

/* CUSTOM SELECT DROPDOWN */
.custom-select__control {
  background: var(--white) !important;
  border-radius: 5px; 
  border: solid 1px var(--gray) !important;
  outline: none !important;
  box-shadow: none;
  text-transform: capitalize;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%;
  cursor: pointer;
  padding-right: 10px;

}
.custom-select__control--is-focused {
  border-color: transparent !important;
  border: solid 1px var(--gray) !important;
  outline: none !important;
  box-shadow: none;
}
.custom-select__menu {
  border-radius: 5px;
  margin-top: 1px;
  border: solid 1px var(--gray);
  box-shadow: none !important;
  z-index: 100 !important;

}
.custom-select__menu-list {
  padding: 0;
  
}
.custom-select__option {
  background-color: var(white);
  color: var(--s-black);
  text-transform: capitalize;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%;
  cursor: pointer;
}
.custom-select__option:hover {
  background-color: var(--p-gold) !important;
  color: var(--white) !important;
}
.custom-select__option--is-selected {
  background-color: var(--p-gold) !important;
  color: var(--white);
  text-transform: capitalize;
}
.custom-select__option--is-focused {
  background-color: var(--p-gold) !important;
  opacity: 0.7;
  color: var(--white) !important;
  outline: none !important;
}
.custom-select__indicator-separator {
  display: none;
}
.hero-search-box form button {
  padding: 8px 20px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.52px;
  letter-spacing: 0%;
  color: var(--white);
  background-color: var(--p-gold);
  border: solid 1px var(--p-gold);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-search-box form button:hover {
  background-color: var(--white);
  color: var(--p-gold);
}

/* HERO BUY & SELL SECTION */
.hero-buy-sell {
  width: 100%;
  height: fit-content;
  padding: 50px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-buy-sell .hero-bs-poster {
  position: relative;
  padding-bottom: 30px;
}
.hero-buy-sell .hero-bs-poster .buy-sell-poster {
  margin-left: 100px;
  border-radius: 8px;
  width: 400px;
  height: auto;
  object-fit: cover;
}
.hero-buy-sell .vetted-seller-tag {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.hero-buy-sell .vetted-seller-tag img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.hero-buy-sell .vetted-seller-tag h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.4px;
  letter-spacing: 0%;
  color: var(--p-green);
}
.hero-buy-sell .vetted-seller-tag p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.52px;
  letter-spacing: 0%;
  color: var(--s-black);
}
.hero-buy-sell .best-deal-tag {
  position: absolute;
  bottom: 00px;
  left: 40%;
  transform: translateX(-50%);
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero-buy-sell .best-deal-tag > div {
  padding-top: 20px;
}
.hero-buy-sell .best-deal-tag h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.4px;
  letter-spacing: 0%;
  color: var(--p-green);
}
.hero-buy-sell .best-deal-tag p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.52px;
  letter-spacing: 0%;
  color: var(--s-black);
}
.hero-buy-sell .best-deal-tag img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0px 10px;
}
.hero-buy-sell .buy-sell-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 30px;
}
.hero-buy-sell .buy-sell-caption .buttons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  background-color: var(--s-gold);
  border: solid 1px var(--p-gold);
  border-radius: 8px;
  padding: 20px;
}
.hero-buy-sell a {
  text-decoration: none;
  color: inherit;
}
.hero-buy-sell .buttons button:first-child {
  background-color: var(--white);
  border: solid 1px var(--p-gold);
  border-radius: 5px;
  color: var(--p-gold);
  padding: 10px 20px;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%; 
}
.hero-buy-sell .buttons button:first-child:hover {
  background-color: var(--p-gold);
  color: var(--white);
}
.hero-buy-sell .buttons button:last-child {
  background-color: transparent;
  border: solid 1px var(--p-gold);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--s-black);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%; 
}
.hero-buy-sell .buttons button:last-child:hover {
  background-color: var(--white);
  border: solid 1px var(--p-gold);
  color: var(--s-black);
}
.hero-buy-sell .buy-sell-caption h3 {
  width: 70%;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48.8px;
  letter-spacing: 0%;
  color: var(--p-black);
}
.hero-buy-sell .buy-sell-caption p {
  width: 80%;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.96px;
  letter-spacing: 0%;
  color: var(--p-black);
}
.hero-buy-sell .buy-sell-caption .see-more {
  background-color: var(--p-gold);
  border: solid 1px var(--p-gold);
  color: var(--white);
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%;  
}

/* EXPLORE PROPERTIES SECTION */
.explore-properties {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--a-background);
}
.explore-properties h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.6px;
  letter-spacing: 0.3px;
  text-align: center; 
  color: var(--p-green); 
}
.explore-properties p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2%;
  text-align: center;
  color: var(--s-black);
}
.explore-properties .divide {
  width: 150px;
  height: 1px;
  margin-top: 10px;
  background-color: var(--p-gold);
  border: none;
}
.explore-properties-catalog {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore-properties .explore-more {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 23.18px;
  letter-spacing: 0%;
  background-color: var(--white);
  border: solid 1px var(--p-gold);
  color: var(--p-gold);
  border-radius: 8px;
  padding: 10px 30px;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}
.explore-properties .explore-more:hover {
  background-color: var(--p-gold);
  color: var(--white);
}

/* PROPERTIES CATALOG */
.properties-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  justify-content: start;
  align-items: start;
  gap: 40px 20px; 
  margin-bottom: 50px;
}

/* PROPERTY CARD */
.property-card {
  max-width: 300px;
  background-color: transparent;
} 
.property-card .property-card-link {
  text-decoration: none;
  color: inherit;
}
.property-card .property-card-poster {
  height: 300px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.property-card .property-card-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.property-card .save-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 8px;
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.property-card .save-button .save-icon {
  font-size: 25px;
  color: var(--white);
}
.property-card .property-card-poster .type-tag {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  border-radius: 5px;
} 
.property-card .property-card-poster .type-tag p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 17.08px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--white);
} 
.property-card .property-card-poster .type-tag.lease {
  background-color: #E1841AE5;
} 
.property-card .property-card-poster .type-tag.sale {
  background-color: #E1261AE5;
}
.property-card .property-card-poster .size {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #00000080;
  padding: 5px 10px;
}
.property-card .size img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.property-card .size p {
  color: var(--white);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16.6px;
  line-height: 21.12px;
  letter-spacing: 0px;
  margin-right: 10px;
}
.property-card .size h4 {
  color: var(--white);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28.06px;
  letter-spacing: 0%;
}

.property-card .property-caption {
  margin-top: 20px;
}
.property-card .property-caption h5 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.16px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.property-card .property-caption .location {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.property-card .property-caption .location img {
  width: 15px;
  height: auto;
  object-fit: cover;
  margin-right: 5px;
}
.property-card .location h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.12px;
  letter-spacing: 0px;
  color: #7A7A7A;
}

/* FEATURED LISTINGS SECTION */
.featured-listings-carousel {
  width: 100%;
  padding-bottom: 70px;
  margin-top: 50px;
}
.featured-listings-carousel .splide__pagination {
  text-align: center;
  bottom: -80px !important;
}
.featured-listings-carousel .splide__pagination__page {
  width: 10px; 
  height: 10px; 
  border: solid 1px var(--gray);
  background: var(--gray);
  display: inline-block;
  margin: 0 6px;
  cursor: pointer; 
  transition: background 0.3s, transform 0.3s;
}
.featured-listings-carousel .splide__pagination__page.is-active {
  background: var(--p-gold); 
  border: solid 1px var(--p-gold);
  transform: scale(1.5); 
}


/* HOW WE STAND OUT */
.stand-out-section {
  padding: 100px 50px;
  background-color: var(--white);
}
.stand-out-section h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.6px;
  letter-spacing: 0.3px;
  text-align: center; 
  text-transform: capitalize;
  color: var(--p-green); 
}
.stand-out-section .stand-out {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.stand-out-section .so-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stand-out-section .so-item h6 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--s-black);  
}
.stand-out-section .so-item img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

/* TESTIMONIAL CAROUSEL */
.testimonial-carousel {
  margin-top: 50px;
  width: 100%;
  padding: 0px 60px;
}
.testimonial-carousel .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-carousel img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.testimonial-carousel .testimonial p {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.52px;
  letter-spacing: 0.3px;
  color: var(--s-black);
}
.testimonial-carousel .testimonial h4 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 19.52px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--s-black);
  margin-top: 20px;
}
.testimonial-carousel .splide__arrow {
  background: var(--p-gold) !important;
  width: 50px;
  height: 50px;
}
.testimonial-carousel .splide__arrow--prev {
  left: -60px;
}
.testimonial-carousel .splide__arrow--next {
  right: -60px;
}
.testimonial-carousel .splide__arrow svg {
  fill: var(--white) !important;
  height: 2em;
  width: 2em;
}


/* CALL TO ACTION SECTION */
.call-action-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-action-section .action-poster {
  width: 100%;
  height: 50dvh;
  position: relative;
  background: url(../images/call-action-poster.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.call-action-section .action-poster h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.6px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
}
.call-action-section .action-poster h4 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.6px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--white);
  margin-top: 30px;
}
.call-action-section .action-caption {
  background-color: var(--a-background);
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.call-action-section .action-caption h3 {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36.6px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--s-black);
}
.call-action-section .action-caption button {
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  transition: color 0.3s, background-color 0.3s ease-in-out;
  background-color: var(--p-gold);
  border: solid 1px var(--p-gold);
  color: var(--white);
}
.call-action-section .action-caption button:hover {
  background-color: var(--white);
  color: var(--p-gold);
}


/* LISTINGS PAGE */
.listings-page {
  background-color: var(--a-background);
}


/* LISTINGS PAGE CATAGLOG */
.listing-catalog {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* LISTINGS PAGE FILTER */
.listings-filter {
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  background-color: var(--white);
  border-radius: 5px;
}
.listings-filter input {
  border: solid 1px var(--gray);
  border-radius: 5px;
  text-transform: capitalize;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%;
  padding: 10px;
}
.listings-filter .search-button {
  /* width: 130px; */
  text-transform: capitalize;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.08px;
  letter-spacing: 0%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--p-gold);
  color: var(--white);
  border: solid 1px var(--p-gold);
  transition: color 0.3s, background-color 0.3s ease-in-out;
}
.listings-filter .search-button:hover {
  background-color: var(--white);
  color: var(--p-gold);
}
/* LISTINGS  CATALOG GRID */
.properties-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
  gap: 40px 20px; 
  margin-bottom: 50px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.pagination .next-previous {
  background-color: transparent;
  color: var(--s-black);
  border: none;
  cursor: pointer;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.71px;
  letter-spacing: 0%;
  margin: 0px 20px;
}
.pagination .page-number {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25.71px;
  letter-spacing: 0%;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  color: var(--s-black);
  background-color: var(--white);
  border: none;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .active {
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25.71px;
  letter-spacing: 0%;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--p-gold);
  border: solid 1px var(--p-gold);
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination button:disabled {
  cursor: not-allowed;
  color: var(--ash);
}
.pagination button:hover:not(:disabled) {
  color: var(--ash);
}


/* * {
  outline: red solid 1px;
} */