@media screen and (max-width: 450px) {
    
    /* ROOT COLORS */
    :root {
        --p-black: #423E3EF2;
        --s-black: #423E3E; 
        --ash: #8D8D8D;
        --gray: #D9D9D9;
        --a-background: #F7F7FD;
        --white: #fff;
        --p-gold: #E1841A;
        --s-gold: #E1841A59;
        --p-green: #154604;
    }    

    .main-layout {
        padding-top: 60px;
    }

    /* BREADCRUMB SECTION */
    .breadcrumb-section {
        padding: 20px;
    }
    .breadcrumb-section h6 {
        font-size: 18px;
        text-align: center;
    }

    .navbar {
        display: none;
    }
    .mobile-navbar {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .navbar-header {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        background-color: var(--white);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .navbar-header .nav-logo img {
        width: 120px;
        height: auto;
        object-fit: cover;
    }
    .navbar-toggler {
        background: none;
        border: none;
        color: var(--p-green);
        font-size: 25px;
    }
    .navbar-menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        position: fixed;
        left: 0;
        top: 60px;
        background-color: var(--white);
    }
    .navbar-menu.open {
        max-height: 900px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-links {
        padding: 20px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .navbar-links li {
        width: 100%;
    }
    .navbar-links li a {
        width: 100%;
        text-decoration: none;
        color: var(--s-black-);
        font-weight: 500;
        font-family: 'Instrument Sans', sans-serif;
    }
    .header-buttons {
        margin: 0px 20px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    .header-buttons .login {
        background-color: var(--white);
        border: solid 1px var(--p-gold);
        color: var(--p-gold);
    }
    .header-buttons .login:hover {
        background-color: var(--p-gold);
        color: var(--white);
    }
    .header-buttons .sign-up {
        background-color: var(--p-gold);
        border: solid 1px var(--p-gold);
        color: var(--white);
    }
    .header-buttons .sign-up:hover {
        background-color: var(--white);
        color: var(--p-gold);
    }

    /* FOOTER  */
    footer .top-footer {
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    footer .bottom-footer {
        padding: 50px 20px;
        gap: 20px;
    }

    /* LOGIN PAGE */
    .login-page {
        padding-top: 0px;
        height: fit-content !important;
        display: grid;
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }
    .login-page .login-form-container {
        order: 2;
        padding: 20px;
        padding-left: 20px;
        background-color: var(--white);
        margin-bottom: 50px;
    }
    
    /* LOGIN POSTER */
    .login-poster {
        order: 1;
        width: 100%;
        height: 400px;
        background-color: var(--white);
        position: relative;
        overflow-y: hidden;
        display: none;
    }
    .login-poster .login-poster-banner {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 100dvh;
        background-color: #FFEFD1;
    }
    .login-poster img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;   
        object-fit: cover;
        border-radius: 10px;
        z-index: 5;
    }
      

    /* HOME PAGE */
    .hero-section {
        width: 100%;
        padding: 20px;
        padding-top: 50px;
        background-image: url('../images/hero-backdrop-mobile.png');
        background-position: top;
    }
    .hero-section .hero-caption h1 {
        font-size: 35px;
    }
    .hero-section .hero-stats {
        padding: 20px;
        justify-content: space-around;
        gap: 20px;
    }
    
    /* STATS COUNT */
    .hero-section .hero-poster-one {
        display: none;
    }
    .hero-section .hero-poster-two {
        display: none;
    }

    /* HERO BUY & SELL SECTION */
    .hero-buy-sell {
        padding: 50px 20px;
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .hero-buy-sell .hero-bs-poster {
        position: relative;
        padding-bottom: 30px;
    }
    .hero-buy-sell .hero-bs-poster .buy-sell-poster {
        margin-left: 40px;
        width: 75%;
    }
    .hero-buy-sell .vetted-seller-tag {
        position: absolute;
        top: 20px;
        left: 0px;
        padding: 10px;
        padding-right: 20px;
    }
    .hero-buy-sell .vetted-seller-tag img {
        width: 30px;
        height: 30px;
    }
    .hero-buy-sell .best-deal-tag {
        bottom: 00px;
        left: 45%;
        transform: unset;
        width: 250px;
        padding: 10px;
        padding-top: 0px;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
    .hero-buy-sell .best-deal-tag > div {
        padding-top: 10px;
    }
    .hero-buy-sell .best-deal-tag img {
        width: 40px;
        height: 40px;
        margin: 0px;
    }
    .hero-buy-sell .buy-sell-caption {
        gap: 30px;
        padding: 30px 0px;
    }
    .hero-buy-sell .buy-sell-caption .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 20px;
    }
    .hero-buy-sell .buttons button:first-child {
        width: 100%;
        padding: 15px;
    }
    .hero-buy-sell .buttons button:last-child {
        width: 100%;
        padding: 15px;
    }
    .hero-buy-sell .buy-sell-caption h3 {
        width: 100%;
    }
    .hero-buy-sell .buy-sell-caption p {
        width: 100%;
    }
    
    /* EXPLORE PROPERTIES SECTION */
    .explore-properties {
        padding: 50px 20px;
    }
    .explore-properties p {
        font-size: 16px;
    }
    .explore-properties .divide {
        width: 100px;
    }
    .explore-properties-catalog {
        margin-top: 30px;
        width: 100%;
    }
    
    /* LISTINGS PAGE FILTER */
    .listings-filter {
        padding: 50px 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    /* LISTINGS PAGE CATAGLOG */
    .listing-catalog {
        padding: 50px 20px;
    }
    /* PROPERTIES CATALOG */
    .properties-grid {
        grid-template-columns: 1fr; 
        margin-bottom: 30px;
        justify-items: center;
    }
    .pagination {
        display: flex;
    }

    /* FEATURED LISTINGS SECTION */
    .featured-listings-carousel {
        /* padding: 50px 20px; */
        padding-bottom: 50px;
    }
    .featured-listings-carousel .splide__pagination {
        bottom: -50px !important;
        display: none;
    }

    /* HOW WE STAND OUT */
    .stand-out-section {
        padding: 50px 20px;
    }
    .stand-out-section .stand-out {
        gap: 50px;
    }

   /* TESTIMONIAL CAROUSEL */
    .testimonial-carousel {
        margin-top: 20px;
        padding: 0px 40px;
    }
    .testimonial-carousel .splide__arrow {
        width: 40px;
        height: 40px;
    }
    .testimonial-carousel .splide__arrow--prev {
        left: -40px;
    }
    .testimonial-carousel .splide__arrow--next {
        right: -40px;
    }

    /* CALL TO ACTION SECTION */
    .call-action-section .action-poster {
        padding: 50px 20px;
        width: 100%;
        height: fit-content;
    }
    .call-action-section .action-caption {
        width: 100%;
        padding: 50px 20px;
    }

    /* PROPERTY CARD */
    .property-card {
        /* max-width: 470px; */
        background-color: transparent;
    } 
    .property-card .size p {
        font-size: 14px;
    }
    .property-card .size h4 {
        font-size: 16px;
    }
    
    .property-card .property-caption {
        margin-top: 20px;
    }
    .property-card .property-caption h5 {
        font-size: 18px;
    }
    
    /* PROPERTY DETAILS PAGE */
    .property-detail-page {
        padding: 20px;
    }
    .property-detail-page .property-title, 
    .property-detail-page .share-save {
        flex-wrap: wrap;
    }
    .property-detail-page .details-header p {
        margin-top: 20px;
    }
    
    .property-detail-page .property-details-tab {
        margin-top: 20px;
        grid-template-columns: 1fr;
        gap: 40px;
        padding-bottom: 20px;
    }
    .property-detail-page .property-details-tab .prop-statistics {
        padding: 20px;
        gap: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .property-detail-page .property-owner-detail {
        margin-top: 20px;
        padding: 20px;
    }
    .property-detail-page .property-owner-detail .property-owner {
        margin-top: 10px;
        flex-wrap: wrap;
    }
    
    /* REQUEST TOUR FORM */
    .request-tour-form {
        gap: 30px;
    }

    /* ABOUT US PAGE */
    .about-us-page .overview-section {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .about-us-page .overview-poster {
        flex: 1;
        display: flex;
        justify-content: end;
    }
    .about-us-page .overview-poster img {
        width: 100%;
    }
    
    /* DOWNLOAD BROCHURE */
    .download-brochure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .download-brochure .download-btn {
        margin-left: 0px;
    }
    
    /* ABOUT STATISTICS */
    .about-us-page .about-statistics {
        padding: 50px 20px;
        gap: 30px;
    }
    .about-us-page .statistics-grid {
        gap: 0px;
        grid-template-columns: 1fr 1fr;
    }
    .about-us-page .stat span {
        font-size: 38px;
    }
    .about-us-page .statistics-grid .stats:last-child {
        border-left: none;
    }
    .about-us-page .statistics-grid .stats:nth-child(1) {
        border-right: none;
    }
    .about-us-page .statistics-grid .stats {
        padding: 20px;
        border: none !important;
    }

    /* EXPLORE COMPANY  */
    .explore-company {
        padding: 50px 20px;
        gap: 50px;
    }
    .explore-company .statement-container {
        flex-direction: column;
    }
    

    /* STRATEGY SECTION */
    .strategy-section {
        padding: 50px 20px;
        flex-direction: column;
        gap: 50px;
    }
    
    /* CONTACT PAGE */
    .contact-us-page {
        padding: 50px 20px;
        grid-template-columns: 1fr;
    } 


    /* * {
        outline: red solid 1px;
    } */
}